
body {
  background-color: lightcyan;    /* background color */
  color: navy;                    /* font color */
  font-family: Arial, sans-serif; /* font family */
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  color: darkblue;
}
